# Ref: https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg
# Doc: https://docs.ansible.com/ansible/latest/installation_guide/intro_configuration.html

[defaults]
inventory = inventory/localhost.yml

# Ref: https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-stdout-callback
# Set the main callback used to display Ansible output, you can only have one
# at a time. You can have many other callbacks, but just one can be in charge
# of stdout.
stdout_callback = yaml

# By default, callbacks are not loaded for /bin/ansible. Enable this if you
# want, for example, a notification or logging callback to also apply to
# /bin/ansible runs
#
bin_ansible_callbacks = True

[ssh_connection]
# Enabling pipelining reduces the number of SSH operations required to
# execute a module on the remote server. This can result in a significant
# performance improvement when enabled, however when using "sudo:" you must
# first disable 'requiretty' in /etc/sudoers
#
# By default, this option is disabled to preserve compatibility with
# sudoers configurations that have requiretty (the default on many distros).
#
pipelining = True
